{
    "parser": "babel-eslint",
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"]
    },
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
}